@model Ecommerce.Application.ViewModels.CarrinhoViewModel

<h2>Carrinho de Compras</h2>


@if (!Model.Itens.Any())
{
    <p>Seu carrinho está vazio.</p>
}
else
{
    <table class="table">
        <thread>
            <tr>
                <th>Produto</th>
                <th>Qtde</th>
                <th>Preço</th>
                <th>SubTotal</th>
                <th>Ações</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model.Itens)
            {
                <tr>
                    <td>@item.ProdutoNome</td>
                    <td><a asp-action="Diminuir" asp-route-itemId="@item.Id" class="btn btn_secondary btn-sm">-</a>
                    <span class="mx-2">@item.Quantidade</span>
                    <a asp-action="Aumentar" asp-route-itemId="@item.Id" class="btn btn_secondary btn-sm">+</a>
                    </td>
                    <td>@item.PrecoUnitario.ToString("C")</td>
                    <td>@((item.Quantidade * item.PrecoUnitario).ToString("C"))</td>
                    <td><a asp-action="Remover" asp-route-itemId="@item.Id" class="btn btn-danger btn-sm">Remover</a></td>
                </tr>
            }
        </tbody>
    </table>
}